@import 'variables.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black !important;
}

